# SUPABASE vars
PUBLIC_SUPABASE_URL=https://YOUR-PROJECT.supabase.co
PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# where to find SearXNG, called by the container name since we're using docker
SEARXNG_BASE_URL=http://searxng:8080

# secret cloudflare tunnel token to tunnel traffic safely
CLOUDFLARE_TUNNEL_TOKEN=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA